* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    /* ! GRİD AREA İLE TANIMLAMA (2.YÖNTEM) */
    display: grid;
    grid-template-areas:
        "header header header header "
        "nav nav nav nav"
        "aside main main main"
        "footer footer footer footer"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 10vh calc(100vh - (200px - 20vh)) 10vh;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* ekran küçüldüğünde içerikteki taşmaları engellemek için */
}

header {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/298/250/557/keyboard-backlight-keys-wallpaper-preview.jpg);
    grid-area: header;
    /* 12 birim yer kaplasın */
    background-size: cover;
    background-position: center;
}

nav {
    background-color: lightskyblue;
    grid-area: nav;
}

aside {
    background-color: wheat;
    grid-area: aside;

}

main {
    background-color: tomato;
    grid-area: main;


}

footer {
    background-color: lightseagreen;
    grid-area: footer;

}