*{

    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    /* bu kodlar proje başlarken reset anlamındadır */
}

h1{

    background-color: crimson;
    /* margin-bottom: 0; */
}

#par1{

    background-color: chartreuse;
    /* margin-top: 0; */

}

#par2{

    background-color:blue;

}