* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  padding: 0.2rem;
}
.container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 3rem;

  .forms {
    display: flex;
    flex-direction: column;
    .input,
    h3,
    label {
      padding: 0.3rem;
      margin: 0.1rem;
    }
  }
  .country-pcode {
    display: flex;
    gap: 0.5rem;

    .country {
      display: flex;
      flex-direction: column;
      select {
        padding: 0.4rem;
      }
    }
    .postcode {
      @extend .country;
    }
  }
  .left-container {
    // border: solid red 2px;
    width: 50%;
    padding: 1rem;
    .button {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        color: white;
        background-color: #f2994a;
      }
    }
  }
  .right-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    // border: 2px solid green;
    padding: 1rem;
    background-color: #eeeeee;
    width: 25%;
    height: 100%;
    border-radius: 5px;

    .section {
      display: flex;
      gap: 1rem;
      img {
        border-radius: 10px;
        height: 120px;
        // width: 100px;
      }
      .text-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .shipping {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.3rem;
    }
    .total {
      @extend .shipping;
    }
    .buttons {
      border: 1px solid grey;
      border-radius: 5px;
      display: flex;
      justify-content: space-evenly;
      padding: 0.2rem;
      button {
        padding: 0.3rem;
        border: none;
        border-radius: 5px;
        background-color: #e0e0e0;
      }
    }
  }
  #reminder {
    margin: 0.5rem;
  }

  #colored {
    color: #f0a454;
  }
  #deleted {
    text-decoration: line-through;
  }
}
