* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$myBorder: 2px solid black;

.container {
  display: flex;
  border: $myBorder;
  .forms {
    display: flex;
    flex-direction: column;
  }
  .country-pcode {
    display: flex;

    .country {
      display: flex;
      flex-direction: column;
    }
    .postcode {
      @extend .country;
    }
  }
  .left-container {
    border: solid red 2px;
  }
  .right-container {
    border: 2px solid green;
  }
}
