.img-float{

    /* float yüzdürmek için  */
    width: 40%;
    /* float: left; */
    float: right;
    margin-right: 10px;
    margin-left: 20px;
}

.par1{

    background-color: chartreuse;
    text-align: justify;
}

.clear{
    clear: both;
    /* her iki taraftaki floatları temizler */
}

#boxes{

    float: left;
    width: 33.33%;
    font-size: 2rem;
}
.box1{

    background-color: darkgoldenrod;
}
.box2{

    background-color:blue;
}
.box3{

    background-color:darkgreen;
}