.box {

    border: 5px solid black;
    margin-bottom: 4rem;
    width: 20rem;
    height: 4rem;
    background-color: darkkhaki;
}

.box1 {

    overflow: visible;

}

.box2 {
    overflow: hidden;
    /* kutunun dışına taşan herşeyi gizler */

}

.box3 {

    overflow: scroll;
}

.box4 {
    overflow: auto;
    /* metnin boyutuna göre scroll açar veya açmaz */

}

.box5 {

    overflow: auto;
    /* overflow-y: ;  */
    /* overflow-x: ; */



}

#paragraf {
    width: 10rem;
    overflow: auto;
}